.profile__edit-button {
  display: inline-block;
  background-image: url(../../../images/Edit\ Button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin: auto 0 auto 18px;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 920px) {
  .profile__edit-button {
    margin: auto 0 auto 10px;
    width: 18px;
    height: 18px;
  }
}