.profile__info {
  margin: 0 auto 0 30px;
}
@media (max-width: 1100px){
  .profile__info {
    margin: 0 auto 0 10px;
  }
}
@media (max-width: 920px) {
  .profile__info{
    margin: 26px 0 36px 0;
  }
}