.popup__close-icon {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.svg);
  position: absolute;
  top: -40px;
  left: 430px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0;
  padding: 0;

}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media (max-width: 920px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    left: 262px;
  }
}