.profile__about {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}
@media (max-width: 1100px){
  .profile__about {
    font-size: 14px;
  }
}