.form__item {
  display: block;
  margin: 10px auto 0 auto;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 27px;
  padding: 0;
  text-align: start;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

}

.form__item:first-of-type {
  margin: 0 auto 0 auto;
}

.form__item::-webkit-input-placeholder {
  color: black;
}

.form__item::-moz-placeholder {
  color: black;
}

.form__item::-ms-input-placeholder {
  color: black;
}

.form__item::placeholder {
  color: black;
}

.form__item:last-child {
  margin-top: 30px;
}

@media (max-width: 920px) {
  .form__item {
    width: 238px;
  }
}
.form__item::placeholder {
  font-family: 'Inter', 'Arial', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;

}