.gallery__image {
  max-width: 282px;
  min-width: 100px;
  min-height: 100px;
  max-height: 282px;
  margin: 0 auto;
background-size: contain;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
@media (max-width: 1024px) {
  .gallery__image{
    
  }
  }
