.logo {
  align-self: left;
  display: flex;
  width: calc(100% - 400px);
  height: 74px;
  margin: 45px auto 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 920px) {
  .logo {
    min-width: 320px;
    height: 56px;
  }
}
