.footer__copyright {
  margin: 0 auto 60px auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  width: calc(100% - 400px);
}

@media (max-width: 920px) {
  .footer__copyright {
    width: 282px;
    margin: 0 auto 36px auto;
    font-size: 14px;
    line-height: 17px;
  }
}