.gallery__like {
  margin: 0;
  height: 19px;
  width: 22px;
  background: url(../../../images/Groupheart.svg) center no-repeat;
  background-size: contain;
  margin: 31px 20px auto auto;
  border: 0;
  cursor: pointer;
  opacity: 1;
}

.gallery__like:hover {
  transition: linear;
  opacity: 0.5;
}
/*
.gallery__like:active {
  background-image: url(../../../images/groupheart-active.svg);
}*/